* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: #5f27cd;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #341f97;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#botao-cancelar {
    background-color: red;
}

ul{
    display: flex; /* para que os elementos fiquem lado a lado */
    flex-wrap: wrap; /* para que, quando o espaço acabar, abra uma nova linha e posicione o objeto */
}

ul li {
    max-width: 25%; /* largura máxima */
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%; /* Determina que a largura das imagens deve preencher toda a largura da página */
}

/* Classe */
.overlay-imagem-link {
    padding: 16px; /* Espaçamento interno */
    background-color: rgba(0,0,0,0.7); /* cor de fundo preta c/ transparência (rgba) de 70% de opacidade */
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-imagem-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
}